<form action="/answer_coach" method="get">
  <label for="ask">What you wanna ask to your coach today?</label>
  <input type="text" name="ask" placeholder="say something">
  <input type="submit" value="ask your coach!">
</form>
